
.main-container{
    padding-top: 20px;
}
.main-div{
    border: 2px solid #6666df;
    font-family: 'Lato', sans-serif;
    padding-left: 0px;
    padding-right: 0px;
    }
    .head-model{
            background-color: #bdbb33;
    }
    .add-btn{
        border: 1px solid transparent;
        width: 60px;
        height: 55px;
        border-radius: 40px;
        color: #bdbb33;
    }
    .menu-btn{
        background: transparent;
        color: #bdbb33;
        width: 60px;
        height: 55px;
        border: 1px solid transparent;
    }
    .right-btn{
        color: #bdbb33;
        background-color: transparent;
        width: 60px;
        height: 55px; 
        border: 1px solid transparent;
    }
    .myButton{
        float:right;
        color: #bdbb33;
        background: transparant;
        border: transparant;
    }
    .date-text{
        color: gray;
        margin-bottom: 0px;
    }
    .name-text{
        font-size: 24px;
        margin-bottom: 0px;
    }
    .modal-dialog{
        font-family: 'Lato', sans-serif;
    }
    .get-info{
        cursor: pointer;
        font-family: 'Lato', sans-serif;
    }